.product-display {
    display: flex;
    margin: 0px 80px;
    margin-bottom: 100px;
}

.product-display-left {
    display: flex;
    gap: 17px;
}

.img-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.img-list img {
    height: 150px;
    margin-right: 10px;
}

.product-display-main-img {
    width: 515px;
    height: 650px;
}

.product-display-right {
    margin: 0px 25px;
    display: flex;
    flex-direction: column;
}

.product-display-right h1 {
    font-weight: 600;
    color: #3d3d3d;
    font-size: 28px;
}

.product-display-star {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 13px;
    color: #1c1c1c;
    font-size: 16px;
}

.product-right-prices {
    display: flex;
    margin: 10px 0px;
    gap: 25px;
    font-size: 22px;
    font-weight: 700;
}

.old-price {
    color: #818181;
    text-decoration: line-through;
}

.new-price {
    color: #ff4141;
}

.product-size h2 {
    margin-top: 20px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}

.product-sizes {
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}

.size.selected {
    background-color: #ff4141;
    color: white;
    border-color: #ebebeb;
}

.product-sizes div {
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}

.addCartbtn {
    width: 200px;
    padding: 20px 40px;
    font-size: 16px;
    background: #ff4141;
    color: white;
    cursor: pointer;
    margin-bottom: 30px;
    border: none;
    outline: none;
}

.product-display-error-mess {
    color: #ff4141;
    font-size: 16px
}

.product-display-succ-mess {
    color: #22bb33;
    font-size: 16px;
}


@media(max-width:1280px) {
    .product-display {
        margin: 0px 60px;
    }

    .product-display-left {
        gap: 10px;
    }

    .img-list {
        gap: 10px;
    }

    .img-list img {
        height: 120px;
    }

    .product-display-main-img {
        width: auto;
        height: 510px;
    }

    .product-display-right {
        margin: 0px 30px;
    }

    .product-display-right h1 {
        font-size: 22px;
    }

    .product-display-star {
        gap: 3px;
        font-size: 13px;
    }

    .product-right-prices {
        font-size: 18px;
        margin: 10px 0px;
    }

    .product-desc {
        font-size: 14px;
    }

    .product-size h2 {
        margin-top: 20px;
        font-size: 18px;
    }

    .product-sizes div {
        padding: 14px 20px;
    }

    .addCartbtn {
        width: 150px;
        margin-bottom: 20px;
        padding: 15px 0px;
    }
}


@media(max-width:1024px) {
    .product-display {
        margin: 0px 30px;
    }

    .product-display-left {
        gap: 5px;
    }

    .img-list img {
        height: 80px;
    }

    .product-display-main-img {
        height: 350px;
    }

    .product-display-right h1 {
        font-size: 18px;
    }

    .product-display-star img {
        width: 15px;
    }

    .product-desc {
        font-size: 14px;
    }

    .product-sizes {
        margin: 12px 0px;
    }

    .product-size h2 {
        margin-top: 20px;
        font-size: 16px;
    }

    .product-sizes div {
        margin-top: 10px;
        padding: 10px 16px;
        font-size: 12px;
    }

    .addCartbtn {
        width: 120px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px 0px;
        font-size: 14px;
    }

    .product-display-succ-mess,
    .product-display-error-mess {
        font-size: 14px;
    }
}


@media(max-width:800px) {
    .product-display {
        margin: 0px 10px;
    }

    .product-display-left {
        gap: 0px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .img-list {
        flex-direction: row;
        gap: 6px;
    }

    .img-list img {
        height: 70px;
    }

    .product-display-main-img {
        height: 300px;
    }

    .product-display-right h1 {
        font-size: 14px;
    }

    .product-display-star img {
        width: 13px;
    }

    .product-desc {
        font-size: 13px;
    }

    .product-sizes {
        margin-top: 10px;
    }

    .product-size h2 {
        margin-top: 10px 0px;
        font-size: 14px;
    }

    .product-sizes div {
        margin-top: 10px;
        padding: 8px 12px;
    }

    .addCartbtn {
        width: 100px;
        font-size: 12px;
    }

    .product-display-succ-mess,
    .product-display-error-mess {
        font-size: 12px;
    }
}

@media(max-width:500px) {
    .product-display {
        flex-direction: column;
    }

    .product-display-left {
        gap: 10px;
        flex-direction: row;
        margin: auto;
    }

    .img-list {
        flex-direction: column;
        gap: 5px;
    }

    .img-list img {
        height: 75px;
    }

    .product-display-main-img {
        height: 320px;
    }

    .product-display-right {
        margin: 5px;
    }

    .product-display-right h1 {
        font-size: 20px;
        font-weight: 500;
        margin-top: 15px;
    }

    .product-display-star img {
        width: 15px;
    }

    .product-sizes {
        gap: 10px;
        margin: 20px 0px;
    }

    .product-sizes div {
        font-size: 14px;
        padding: 10px 16px;
    }

    .addCartbtn {
        font-size: 15px;
        width: 130px;
        padding: 12px 0px;
    }
}