* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item {
    width: 275px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.6s;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item img {
    width: 100%;
    height: 295px;
    object-fit: cover;
    border-radius: 8px;
}

.item p {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 500;
    color: #374151;
    text-align: center;
}

.item-prices {
    display: flex;
    gap: 10px;
    margin-top: 6px;
    justify-content: center;
    align-items: center;
}

.item-new-price {
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}

.item-old-price {
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover {
    transform: scale(1.05);
    transition: 0.6s;
}


@media(max-width:1280px) {
    .item {
        width: 225px;
    }

    .item img {
        width: 200px;
        height: 230px;
    }

    .item p {
        font-size: 14px;
    }

    .item-new-price,
    .item-old-price {
        font-size: 14px;
    }
}

@media(max-width:1024px) {
    .item {
        width: 190px;
    }

    .item img {
        width: 170px;
        height: 210px;
    }

    .item p {
        font-size: 13px;
    }

    .item-new-price,
    .item-old-price {
        font-size: 13px;
    }
}

@media(max-width:800px) {
    .item {
        width: 140px;
    }

    .item img {
        width: 125px;
        height: 170px;
    }

    .item p {
        font-size: 12px;
    }

    .item-new-price,
    .item-old-price {
        font-size: 12px;
    }
}

@media(max-width:500px) {
    .item {
        width: 165px;
    }

    .item img {
        width: 150px;
        height: 170px;
        object-fit: cover;
    }

    .item p {
        font-size: 12px;
    }

    .item-new-price,
    .item-old-price {
        font-size: 12px;
    }
}