* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.offer {
    width: 85%;
    height: 70vh;
    display: flex;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 150px;
    padding: 0px 140px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
}

.offer-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offer-left h1 {
    color: #171717;
    font-size: 80px;
    font-weight: 600;
    line-height: 1.2;
}

.offer-left p {
    color: #171717;
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
}

.offer-left button {
    height: 72px;
    width: 282px;
    color: white;
    background-color: #ff4141;
    border-radius: 35px;
    border: none;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
}

.offer-right {
    flex: 1;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media(max-width:1280px) {
    .offer {
        padding: 0px 80px;
        margin-bottom: 120px;
    }

    .offer-left h1 {
        font-size: 40px;
        font-weight: 500;
    }

    .offer-left p {
        font-size: 18px;
    }

    .offer-right img {
        width: 300px;
    }

    .offer-left button {
        width: 220px;
        font-size: 18px;
        height: 50px;
        font-weight: 400;
    }

    .offer-right {
        padding-top: 30px;
    }
}

@media(max-width:1024px) {
    .offer {
        padding: 0px 60px;
        margin-bottom: 80px;
        height: 40vh;
        margin-top: 50px;
    }

    .offer-left h1 {
        font-size: 30px;
        font-weight: 500;
    }

    .offer-left p {
        font-size: 16px;
    }

    .offer-right img {
        width: 200px;
    }

    .offer-left button {
        width: 160px;
        font-size: 16px;
        height: 40px;
        font-weight: 400;
    }

    .offer-right {
        padding-top: 10px;
    }
}

@media(max-width:800px) {
    .offer {
        margin-bottom: 60px;
        margin-top: 50px;
    }

    .offer-left h1 {
        font-size: 22px;
        font-weight: 500;
    }

    .offer-left p {
        font-size: 13px;
    }

    .offer-right img {
        width: 180px;
    }

    .offer-left button {
        width: 140px;
        font-size: 12px;
        height: 30px;
        font-weight: 400;
    }

}




@media(max-width:500px) {
    .offer {
        height: 25vh;
        width: 78%;
        margin-top: 80px;
        margin-bottom: 50px;
    }

    .offer-left h1 {
        font-size: 16px;
        font-weight: 400;
    }

    .offer-left p {
        font-size: 10px;
    }

    .offer-right img {
        width: 120px;
    }

    .offer-left button {
        width: 120px;
        font-size: 10px;
        height: 25px;
        font-weight: 400;
        margin-top: 12px;
    }

}