* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0px 1px 3px -2px black;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p {
    font-size: 36px;
    color: #171717;
    font-weight: 600;
    cursor: default;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 20px;
    gap: 50px;
    font-weight: 400;
}

.nav-menu li {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.nav-menu li hr {
    width: 80%;
    border: none;
    background-color: #ff4141;
    border-radius: 10px;
    height: 3px;
}

.nav-login-cart {
    display: flex;
    gap: 45px;
    align-items: center;
}

.nav-login-cart button {
    cursor: pointer;
    width: 155px;
    height: 55px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 78px;
    color: #515151;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
}

.nav-login-cart button:active {
    background-color: #f3f3f3;
}

.nav-cart-counter {
    height: 22px;
    width: 22px;
    background-color: #ff4141;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    cursor: pointer;
}

.nav-dropdown {
    display: none;
}

@media(max-width:1280px) {
    .navbar {
        padding: 12px 50px;
    }

    .nav-logo img {
        width: 40px;
    }

    .nav-logo p {
        font-size: 25px;
    }

    .nav-menu {
        gap: 30px;
        font-size: 16px;
    }

    .nav-login-cart {
        gap: 30px;
    }

    .nav-login-cart button {
        width: 110px;
        height: 45px;
        font-size: 15px;
    }

    .nav-cart-counter {
        margin-left: -40px;
        font-size: 12px;
    }
}

@media(max-width:1024px) {
    .navbar {
        padding: 12px 30px;
    }

    .nav-menu {
        gap: 25px;
        font-size: 14px;
    }

    .nav-login-cart button {
        width: 80px;
        height: 35px;
        font-size: 14px;

    }

    .nav-login-cart img {
        width: 30px;
    }

    .nav-cart-counter {
        width: 18px;
        height: 18px;
    }
}

@media (max-width:800px) {
    .navbar {
        padding: 10px 0px;
    }

    .nav-dropdown {
        display: block;
        width: 30px;
        rotate: -90deg;
        transition: 0.5s ease;
    }

    .nav-menu {
        display: none;
        height: 80px;
        width: 100%;
        position: absolute;
        top: 50px;
        justify-content: center;
        background-color: white;
    }

    .nav-menu-visible {
        display: flex;
    }

    .nav-dropdown.open {
        transform: rotate(90deg);
    }

}

@media(max-width:500px) {
    .navbar {
        padding: 8px 0px;
        gap: 0;
    }

    .nav-logo {
        transform: scale(0.8);
    }

    .nav-menu {
        height: 70px;
        top: 50px;
    }

    .nav-login-cart {
        transform: scale(0.8);
    }
}