.hero {
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
}

.hero-left-sec {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}

.hero-left-sec h2 {
    color: #090909;
    font-size: 36px;
    font-weight: 600;
}

.hero-left-sec p {
    color: #171717;
    font-size: 65px;
    font-weight: 500;
}

.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-hand-icon img {
    width: 95px;
}

.hero-new-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 300px;
    height: 60px;
    font-size: 22px;
    background-color: #ff4141;
    color: white;
    border-radius: 70px;
    outline: none;
    margin-top: 30px;
    font-weight: 500;
}

.hero-right-sec {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-right-sec img {
    width: 450px;
    height: auto;
}

@media(max-width:1280px) {
    .hero-left-sec {
        padding-left: 100px;
    }

    .hero-left-sec h2 {
        font-size: 22px;
    }

    .hero-left-sec p {
        font-weight: 500;
        font-size: 55px;
    }

    .hero-hand-icon img {
        width: 80px;
    }

    .hero-new-btn {
        gap: 10px;
        width: 250px;
        height: 60px;
        font-size: 18px;
        margin-top: 20px;
    }

    .hero-right-sec img {
        width: 400px;
    }
}

@media(max-width:1024px) {
    .hero-left-sec {
        padding-left: 80px;
    }

    .hero-left-sec h2 {
        font-size: 20px;
    }

    .hero-left-sec p {
        font-weight: 500;
        font-size: 50px;
    }

    .hero-hand-icon img {
        width: 60px;
    }

    .hero-new-btn {
        width: 220px;
        height: 50px;
        font-size: 16px;
    }

    .hero-right-sec img {
        width: 385px;
    }
}

@media(max-width:800px) {
    .hero-left-sec {
        flex: none;
        padding-left: 30px;
    }

    .hero-left-sec h2 {
        font-size: 18px;
    }

    .hero-left-sec p {
        font-weight: 400;
        font-size: 45px;
    }

    .hero-hand-icon img {
        width: 50px;
    }

    .hero-new-btn {
        width: 175px;
        height: 40px;
        font-size: 13px;
    }


    .hero-right-sec img {
        width: 300px;
    }
}


@media(max-width:500px) {
    .hero {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-right-sec {
        display: none;
    }


    .hero-left-sec h2 {
        font-size: 16px;
    }

    .hero-left-sec p {
        font-size: 44px;
    }

    .hero-new-btn {
        width: 200px;
        height: 45px;
        font-size: 14px;
    }
}